# Basics of Python

## Print Function

In [1]:
print("Hello World")

Hello World

You can use `\n` to print new line.

`\n` is called as *new line character*.

It will bring the cursor to the next line, just like when we press Enter in notepad.

In [3]:
print("Hello")
print("World")

Hello
World

In [4]:
# \n - new line character

print("Hello\nWorld")

Hello
World

### Horizontal Tab

It will provide a space of 8 character.

You can use `\t` to add a tab spacing in your string.

In [5]:

# \t - horizontal tab

print("Hello\tWorld")

Hello	World

## Variables

Variables are same as the variables that were used in mathematics. Remember we used to find X? (Not your EX Chill!!)


In Python variables are used to store values.

In [14]:
number = 2

print(number)

2

In [6]:
a = 10 
print(a)

10

This means `a` is a variables that holds a value `10`

Just like that, simple.

### Assigning multiple values to variables at once.

In [13]:
x, y, z = 10, 20, 30

# let's print each values separately
print(x)
print(y)
print(z)

# let's try adding all these values
print(x + y + z)

10
20
30
60

In [ ]:
a = 10.5 
print(a)

This means a is a variables that holds a value 10.5


You can also see that now the value of a has been updated to 10.5. A variable gets updated if a new line with the same variable name is defined, overwriting the previous value of the variable. This is called variable reassignment or variable update.

In [11]:
b = "Sun"
print(a)

10.5

This means a is a variables that holds a value 'Sun'


**Note:** Python Supports dynamic data types, that means you do not need to specify the type of a variable, it will detect automatically.


---



Checking the type of Variable with the `type()` function.

Type function will return the type of the variable, this is how we can know the data type of a variable.

In [12]:
print(type(a))
print(type(b))

<class 'float'>
<class 'str'>

You see the class keyword while printing the type of a variable, this is because all the variables in python are object of different classes. Here class `float` and `str` means the value of a which is `10.5` is an object of `float` class and string `Sun` is the object of `str` class. 

---
## Python Data Types

All whole numbers are named as `int`

All decimal values in programming are named as `float`

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	`str`
- Numeric Types:	`int`, `float`, `complex`
- Sequence Types:	`list`, `tuple`, `range`
- Mapping Type:	`dict`
- Set Types:	`set`, `frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes`, `bytearray`, `memoryview`
- None Type:	`NoneType`

In [20]:
x = "Hello World" # str

In [21]:
x = 20 # int

In [22]:
x = 20.5 # float

In [23]:
x = 21j # complex

In [24]:
x = ['apple', 'orange', 'pear'] # list

In [25]:
x = ('apple', 'orange', 'pear') # tuple

In [26]:
x = range(7)

In [28]:
x = {"name" : "Joe", "age" : 666} # dict

In [29]:
x = {"apple", "banana", "cherry"} # set

In [30]:
x = frozenset({"apple", "banana", "cherry"})

In [32]:
x = True # bool

In [33]:
x = None # None

## Type casting

In Python, type casting means converting a value from one type to another. For example, you can convert a number into a text string, or vice versa.

Type casting is useful because different types of data are used for different purposes in a program. For example, you might use a string to store a name or a message, and use a number to store a quantity or a score.

To convert a value from one type to another, you use a special function that tells Python what type you want the value to be. Some examples of these functions are "str()" for converting to a string, "int()" for converting to an integer, and "float()" for converting to a decimal number.


Type casting is like changing the shape of a toy. Just like you can change a round ball into a square block, you can change a number into a word or a word into a number. But, just like you can't change a ball into a bird, you can't change some things into other things in programming. So, you use special tools to make sure you're changing the toy into the right shape that you need for your game or activity.

In [37]:
age = "10" # here 10 is written as a string
new_age = int(age) # we have converted it into a number

# let's check the type with the help of type function

print("Data type of age is  ",type(age)) 
print("Data type of new_age is  ",type(new_age))

Data type of age is   <class 'str'>
Data type of new_age is   <class 'int'>

In [38]:
price = 4.99 # here the value is in float 
new_price = int(price) # converting it to int will also remove the decimal


print("The new price is: ", new_price)

The new price is:  4

In [40]:
score = 100 
score_text = str(score) # converting the number to a string

print(type(score_text))

<class 'str'>

**Note:**  Converting a number into string will stop letting you perform any arithmetic operations with the number.

In [41]:
score2 = '200'

adding_score = score + score2

print(adding_score)

TypeError: ignored

# Practice Questions:

1. **Write a program to print following output:**

```python
Your Name

  College Name

    City Name
```
Like this:
```python
Don Joe

    DPS

      Riyadh

```

- **solution**
    
    ```python
    print("Himanshu\n\tDAVV\n\t\tIndore")
    ```
    

2. **Write a program to print following output:**

```python
*
**
***
```

- solution
    
```python

print("*\n**\n***")

```
    

3. **Write a program to print following output:**

```python
    *
*        *
    *
```

- solution

```python
print("    *\n*\t*\n    *")
```